.inputField{
    width: 100%;
}

.submit_btn{
    text-align: center;
}
.submit_btn button{
    width: 70%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }